:root {

    /**
      |============================
      | Colors
      |============================
    */

    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navy-blue: #2E2F42;
    --slate: #434455;
    --light-slate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navy-blue-modal: rgba(46, 47, 66, 0.40);
    --grey: rgba(46, 47, 66, 0.7);
    --green: #31D0AA;
    --white: #ffffff;
    --dairy: #FCFCFC;
    
    /**
      |============================
      | Others
      |============================
    */

    --indent-x: 24px;
    --indent-y:;
    --list-items-sum: 3;

}


body {
  font-family: "Roboto", sans-serif;  
  background: #ffffff;
  color: var(--slate);
  font-size: 16px;
}

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.features-title, .team-member, .portfolio-text {
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;/
  letter-spacing: 0.02em;
}

.team-title, .portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11; /* 111.111% */
  letter-spacing: 0.02em;
}


/**
  |============================
  | Reset
  |============================
*/

p, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0;   
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/**
  |============================
  | GRID
  |============================
*/

.grid-set {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--indent-x);
  column-gap: var(--indent-x);
}

.grid-item {
  flex-basis: calc((var(--margin-indent)*(var(--list-items-sum) - 1)))/ var(--list-items-sum);
}


/**
  |============================
  | Lists-style
  |============================
*/

.nav-list,
.features-list,
.portfolio-list,
.team-list,
.adress-list,
.team-soc-list,
.soc-footer-list {
  list-style-type: none;
}

/**
  |============================
  | Header section
  |============================
*/

.header-section {
  align-content: center;
  border-bottom: 1px solid var(--CORNFLOWER, #E7E9FC);
}

.header-section .container {
  display: flex;
}

.header-padding {
  padding-top: 24px;
  padding-bottom: 24px;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation .logo {
  margin-right: 76px;
}

.logo {
  color: var(--IRIS, #4D5AE5);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: var(--NAVY-BLUE, #2E2F42);
}

.nav-list {
  display: flex;
  gap: 40px;
  margin-left: 76px;
}

.nav-list-item {
  gap: 40px;
}

.nav-list-link {
  display: flex;
  color: var(--NAVY-BLUE, #2E2F42);
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link.selected {
  color: var(--ocean);
}

.nav-list-link.selected:after {  
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: currentColor;
  border-radius: 2px;
  bottom: -1px;
}

.adress-header {
  display: flex;
  margin-left: auto;
  font-style: normal;
}

.adress-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.adress-list-link {
  color: var(--SLATE, #434455);
  line-height: 24px; /* 150% */
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list-link:hover,
.adress-list-link:focus,
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--OCEAN, #404BBF);
}

/**
  |============================
  | Hero section
  |============================
*/

.hero-section {
  background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  color: var(--WHITE, #FFF);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07; /* 107.143% */
  letter-spacing: 1.12px;
  max-width: 496px;
}

.order-button {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--WHITE, #FFF);
  background: var(--IRIS, #4D5AE5);
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order-button:hover,
.order-button:focus {
  background-color: var(--ocean);
}

/**
  |============================
  | Features section
  |============================
*/

.features-section {
}

.features-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
}

.features-list-item {
  
}

.features-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  padding: 24px 100px;
  margin-bottom: 8px;
  background-color: var(--cloud);
  border-radius: 4px;
  border: 1px solid var(--LIGHT-SLATE, #8E8F99);
}


.features-title {
  margin-bottom: 8px;
}

.features-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Team section
  |============================
*/

.team-section {
  background: var(--cloud);
}

.team-title {
  color:var(--navy-blue);
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  gap: 24px;
}

.team-list-item {
  text-align: center;
  max-width: 264px;
  background-color: var(--WHITE, #FFF);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-mem-ph {
}

.team-member-inform {
  padding-top: 32px;
  padding-bottom: 32px;
  border: 1px solid var(--CORNFLOWER);
  border-top: none;
}

.team-member-name {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.member-profession {
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
}

.team-soc-link {
  display: flex;
  width: 40px;
  height:  40px;
  background-color: var(--iris);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-link:hover,
.team-soc-link:focus {
background-color: var(--ocean);
}

.team-soc-icon {
  fill: var(--cloud);
}

/**
  |============================
  | Portfolio section
  |============================
*/

.portfolio-title {
  color: var(--navy-blue);
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-list-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overflow-cont {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  position: relative; 
}

.overlay {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: var(--iris);
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
  display: block;
  color: var(--cloud);
  font-family: Roboto;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.02px;
  width: 296px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-list-item:hover {
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);  
}


.portfolio-list-item:hover .overlay {
  transform: translatey(0);
}

.portfolio-list-img {
  width: 100%;
}

.portfolio-app-titles {
  padding: 32px 16px;
  border: 1px solid var(--cornflower); 
  border-top: none;
   /* padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 32px; */
}

.portfolio-text {
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.portfolio-alt-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.portfolio-text-margin {
  }

/**
  |============================
  | Footer section
  |============================
*/

.footer-section {
  background: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-content-position {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

.footer-logo-position {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer {
  color: var(--CLOUD, #F4F4FD);
}

.footer-alt-text {  
  color: var(--CLOUD, #F4F4FD);
  max-width: 264px;
  line-height: 1.5;
  letter-spacing: 0.02em;
} 

.soc-media-title {
  color: #ffffff;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 16px;
}
.soc-footer-list {
  display: flex;
  gap: 16px;
}
.soc-footer-item {
}
.soc-footer-link {
  display: flex;
  width: 40px;
  height:  40px;
  background-color: var(--iris);
  border-radius: 50px;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.soc-footer-link:hover ,
.soc-footer-link:focus {
  background-color: var(--green);
}

.soc-footer-icon {
  fill: var(--cloud);
}